<div class="profile-card">
  <div class="card-header">
    <div class="profile-image-container">
      <img src="https://firebasestorage.googleapis.com/v0/b/holamundo-flutter.appspot.com/o/dan.jpg?alt=media&token=80cd333c-c0bb-49a4-819d-2b73bd3bc716" alt="profile-image" class="profile-image" />
    </div>
    <div class="contact-info">
      <p><span class="contact-icon">✉️</span>daniel&#64;gmail.com.mx</p>
      <p><span class="contact-icon">📞</span>2871154471</p>
      <p><span class="contact-icon">🖥️</span>&#64;danielmatt-dev</p>
      <p><span class="contact-icon">🌐</span>Orizaba, Veracruz</p>
    </div>
  </div>
  <div class="card-footer">
    <p class="name">Armando Daniel Martínez González</p>
    <p class="role">&lt;Desarrollador&gt;</p>
  </div>
</div>
