/* Estilo general para la sección de intereses */
.interests-section {
  padding: 20px;
  background-color: #2c2c2c; /* Fondo oscuro */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

/* Estilo del título de la sección */
.interests-section h2 {
  color: #dcdcdc; /* Texto claro */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: left; /* Alineación izquierda */
}

/* Contenedor de las listas de intereses */
.interests-container {
  display: flex;
  justify-content: space-between; /* Coloca las listas en columnas separadas */
}

/* Estilo para los elementos de la lista */
ul {
  list-style: none;
  padding: 0;
}

li {
  color: #dcdcdc; /* Texto claro */
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  margin-bottom: 10px;
  display: flex; /* Flex para alinear emoji y texto */
  align-items: center; /* Alineación vertical */
}

/* Añadir margen para los emojis */
li::before {
  margin-right: 10px;
}
