<div>
  <h2>Habilidades & Competencias</h2>
  <div>
    <span>Pensamiento basado en primeros principios</span>
    <span>Marketing</span>
    <span>Micromanagement</span>
    <span>Orientado a objetivos</span>
    <span>Resiliencia</span>
    <span>Enfoque en el futuro</span>
    <span>Liderazgo</span>
    <span>Creatividad</span>
    <span>Gestión del tiempo</span>
    <span>Persistencia</span>
    <span>Transformación de ideas en empresas</span>
    <span>Pensamiento a largo plazo</span>
  </div>
</div>

