/* Estilo general para la secci칩n de certificados */
.certificates-section {
  padding: 20px;
  background-color: #2c2c2c; /* Fondo oscuro */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

/* Estilo del t칤tulo de la secci칩n */
.certificates-section h2 {
  color: #dcdcdc; /* Texto claro */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

/* Lista de certificados */
.certificates-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.certificates-list li {
  color: #dcdcdc; /* Texto claro */
  font-size: 18px; /* Tama침o de fuente */
  font-weight: bold; /* Negrita */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px; /* Indentaci칩n */
  position: relative;
}

.certificates-list li::before {
  content: '游끤'; /* Emoji de medalla para cada certificado */
  font-size: 20px; /* Tama침o del emoji */
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 10px;
}
